Template(name="homeworkList")
    div#homeworkList
        header
            form.main.form
                div.form-group
                    label.control-label title:
                    input(name="title", type="text")
                div.form-group
                    label.control-label demand:
                    input(name="demand", type="text")
                div.form-group
                    label.control-label deadline:
                    input(name="deadline", type="text")
                div.modal-footer
                    button.btn.btn-primary Create a new homework
        
        ul
            each homework in homeworks
                li homework.name
        
        
        
