template(name="homework-page")
    div#homework-page
        h1 #{homework.name}
        p #{homework.demand}
        ul#content-list
            each content in contents
                li
                    a(href='content#{content._id')
                        #{content.author-name}
